BEGIN TRANSACTION
--
-- Create model Categoria
--
CREATE TABLE [Categorias] ([id] bigint NOT NULL PRIMARY KEY IDENTITY (1, 1), [grupo] nvarchar(50) NOT NULL, [nombre] nvarchar(80) NOT NULL, [activo] bit NOT NULL, [glpi_category_id] int NULL CONSTRAINT Categorias_glpi_category_id_6d6398b6_check CHECK ([glpi_category_id] >= 0));
--
-- Create model Ticket
--
CREATE TABLE [Tickets] ([id] bigint NOT NULL PRIMARY KEY IDENTITY (1, 1), [codigo] nvarchar(12) NOT NULL UNIQUE, [titulo] nvarchar(150) NOT NULL, [descripcion] nvarchar(max) NOT NULL, [prioridad] nvarchar(10) NOT NULL, [estado] nvarchar(15) NOT NULL, [solicitante_nombre] nvarchar(100) NOT NULL, [solicitante_email] nvarchar(150) NULL, [solicitante_punto] nvarchar(80) NULL, [glpi_id] int NULL CONSTRAINT Tickets_glpi_id_a9486641_check CHECK ([glpi_id] >= 0), [fecha_creacion] datetimeoffset NOT NULL, [fecha_actualizacion] datetimeoffset NOT NULL, [fecha_cierre] datetimeoffset NULL, [CategoriaId] bigint NULL, [TecnicoAsignadoId] bigint NULL);
--
-- Create model TicketAdjunto
--
CREATE TABLE [TicketAdjuntos] ([id] bigint NOT NULL PRIMARY KEY IDENTITY (1, 1), [nombre_original] nvarchar(255) NOT NULL, [archivo] nvarchar(500) NOT NULL, [mime_type] nvarchar(100) NOT NULL, [tamano_bytes] int NOT NULL CONSTRAINT TicketAdjuntos_tamano_bytes_4a3439a4_check CHECK ([tamano_bytes] >= 0), [subido_por] nvarchar(100) NULL, [fecha_subida] datetimeoffset NOT NULL, [TicketId] bigint NOT NULL);
--
-- Create model TicketComentario
--
CREATE TABLE [TicketComentarios] ([id] bigint NOT NULL PRIMARY KEY IDENTITY (1, 1), [autor_nombre] nvarchar(100) NOT NULL, [comentario] nvarchar(max) NOT NULL, [es_interno] bit NOT NULL, [fecha] datetimeoffset NOT NULL, [TicketId] bigint NOT NULL, [UsuarioId] bigint NULL);
--
-- Create index IX_Tickets_Estado on field(s) estado of model ticket
--
CREATE INDEX [IX_Tickets_Estado] ON [Tickets] ([estado]);
--
-- Create index IX_Tickets_Prioridad on field(s) prioridad of model ticket
--
CREATE INDEX [IX_Tickets_Prioridad] ON [Tickets] ([prioridad]);
--
-- Create index IX_Tickets_Fecha on field(s) fecha_creacion of model ticket
--
CREATE INDEX [IX_Tickets_Fecha] ON [Tickets] ([fecha_creacion]);
ALTER TABLE [Tickets] ADD CONSTRAINT [Tickets_CategoriaId_a7997bf8_fk_Categorias_id] FOREIGN KEY ([CategoriaId]) REFERENCES [Categorias] ([id]);
CREATE INDEX [TicketComentarios_TicketId_1c8f8877] ON [TicketComentarios] ([TicketId]);
ALTER TABLE [TicketComentarios] ADD CONSTRAINT [TicketComentarios_TicketId_1c8f8877_fk_Tickets_id] FOREIGN KEY ([TicketId]) REFERENCES [Tickets] ([id]);
CREATE INDEX [TicketComentarios_UsuarioId_ac614a87] ON [TicketComentarios] ([UsuarioId]);
CREATE UNIQUE INDEX [Categorias_grupo_nombre_0071b2a5_uniq] ON [Categorias] ([grupo], [nombre]) WHERE [grupo] IS NOT NULL AND [nombre] IS NOT NULL;
ALTER TABLE [Tickets] ADD CONSTRAINT [Tickets_TecnicoAsignadoId_4da54145_fk_Usuarios_id] FOREIGN KEY ([TecnicoAsignadoId]) REFERENCES [Usuarios] ([id]);
CREATE INDEX [Tickets_TecnicoAsignadoId_4da54145] ON [Tickets] ([TecnicoAsignadoId]);
ALTER TABLE [TicketComentarios] ADD CONSTRAINT [TicketComentarios_UsuarioId_ac614a87_fk_Usuarios_id] FOREIGN KEY ([UsuarioId]) REFERENCES [Usuarios] ([id]);
CREATE INDEX [TicketAdjuntos_TicketId_31fa4058] ON [TicketAdjuntos] ([TicketId]);
ALTER TABLE [TicketAdjuntos] ADD CONSTRAINT [TicketAdjuntos_TicketId_31fa4058_fk_Tickets_id] FOREIGN KEY ([TicketId]) REFERENCES [Tickets] ([id]);
CREATE INDEX [Tickets_CategoriaId_a7997bf8] ON [Tickets] ([CategoriaId]);
CREATE INDEX [Tickets_glpi_id_a9486641] ON [Tickets] ([glpi_id]);
COMMIT;
